:root {
    /* Colors */
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --lightgreen-color: #99E2D0;
    --darkergreen-color: #008766;
    --background-color: #F6F6F6;
    --gradient-color: linear-gradient(to top, var(--primary-color), var(--secondary-color));
    --footer-color: #353535;
}

* {
    font-family: 'Roboto';
}

h1 {
    font-family: 'Shrikhand', cursive;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 2px;
    margin-top: 0px;
    height: 63px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

p {
    /* couleur pour les textes */
    color: #353535;

}


.section-title {
    font-size: 24px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

// Le maincontainer + la barre de la localisation
.main-container {
    width: 100%;
    box-sizing: border-box;

    .localisation-bar {
        background-color: #EAEAEA;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 50px;
    }

    .localisation-bar i {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #353535;
    }

    .localisation-bar input {
        border-width: 0px;
    }

    input::placeholder {
        background-color: #EAEAEA;
        font-size: 16px;
        color: #353535;
        text-align: center;
    }

    /* Firefox compatibilité */

    /* SOurce : https://stackoverflow.com/questions/19621306/css-placeholder-text-color-on-firefox */


    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: black;
        opacity: 1;
    }

    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: black;
        opacity: 1;
    }

    .Titreshadow {
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    }


    /* Bouton Explorer */
    .explorer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .explorer h2 {
        text-align: center;
        margin-bottom: 0px;
        margin-top: 50px;
    }

    .explorer p {
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
        margin-bottom: 30px;
    }

    // 
    // Bouton explorer et commander
    // 
    .btn {
        background: var(--gradient-color);
        text-align: center;
        border-radius: 25px;
        font-size: 16px;
        cursor: pointer;
        color: white;
        height: 50px;
        width: 218px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
        border: 0px;

        &:hover {
            filter: brightness(115%);
        }
    }

    .btncom {
        margin-top: 20px;
    }

    /* Fonctionnement */

    .Fonctionnement {
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .Fonctionnement h2 {
        margin-left: 20px;
    }



    ul {
        padding-left: 10px;
        margin-right: 20px;
    }

    li {
        display: flex;
        align-items: center;
        color: white;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    // 
    // Bouton avec les chiffres "1,2,3"
    // 
    .nb-btn {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
        border-radius: 50%;
        /* Utiliser un border-radius de 50% pour créer un cercle */
        padding: 1px;
        /* Espace à l'intérieur de la bordure */
        height: 24px;
        width: 24px;
        position: relative;
        left: 10px;

    }

    .btn-list {
        background-color: #f6f6f6;
        display: flex;
        align-items: center;
        border-radius: 20px;
        border: 0px;
        width: 100%;
        height: 72px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
        font-size: 16px;
        font-weight: 500;
    }

    .btn-list p {
        font-size: 16px;
        font-weight: 700;
    }

    .btn-list i {
        padding: 0px 25px 0px 25px;
        color: #7e7e7e;
    }

    .btn-list .fa-store {
        color: var(--primary-color);
    }

    .Fonctionnement ul {
        list-style-type: none;
    }

    .Fonctionnement {
        margin-bottom: 30px;
    }

    // 
    // Cartes

    .card {
        background-color: white;
        border-radius: 20px;
        padding: 5px;
    }

    .card img {
        object-fit: cover;
    }

    .card-title {
        font-size: 18px;
    }

    // 
    // Restaurants
    // 

    .Restaurants {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
    }

    .Restaurants-cards {
        display: flex;
        flex-direction: column;
        gap: 15px
    }

    .Restaurants h2 {
        margin-bottom: 15px;
        padding-top: 30px;
    }

    .Restaurants-cards a {
        width: 100%;
        height: 251px;
    }

    .card {
        padding: 0px;
        height: 251px;
    }

    .Restaurants-cards img {
        width: 100%;
        height: 70%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

    }

    .Restaurants-cards .card-content {
        width: 100%;
        height: 30%;
        box-sizing: border-box;

    }


    .card-content h3 {
        color: black;
        margin-left: 5px;
        margin-top: 0px;
        margin-bottom: 5px;
    }


    .card-txt p {
        margin-top: 0px;
        margin-left: 5px;
    }


    .card-txt {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    //Pour les cartes sans le badge "nouveau" sur la page d'acceuil
    .sans-Badge {
        margin-top: 15px;
    }

    // 
    // Le coeur
    // 

    .Heart {
        position: relative;
        left: 80%;
        top: -70px;
    }

    .Heart i {
        position: absolute;

    }

    .my-heart-empty {
        color: black;
    }

    .my-heart-full {
        opacity: 0;
        color: transparent;
        background-image: linear-gradient(to top, var(--primary-color), var(--secondary-color));
        // Pour Firefox
        background-clip: text; //pour avoir la couleur sur le texte
        // Pour chrome
        --webkit-background-clip: text;
        transition-duration: 300ms;
    }

    .my-heart-full:hover {
        opacity: 1;
    }


    // 
    // Le Badge
    // 
    .badge {
        width: 80px;
        height: 29px;
        font-size: 16px;
        color: var(--darkergreen-color);
        background-color: var(--lightgreen-color);
        border-radius: 2px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
        position: relative;
        top: -65%;
        left: 75%;
        padding: 5px;
        overflow: hidden;

    }

    // Le Footer

    .Bigfoot {
        padding: 20px;
        height: 188px;
        background-color: var(--footer-color);
    }

    .Littlefoot p {
        font-size: 18px;
        color: white;
        margin-bottom: 8px;
        margin-top: 0px;
    }

    .Bigfoot h3 {
        color: white;
        font-family: 'Shrikhand', cursive;
    }

    .Littlefoot i {
        margin-right: 10px;
    }

    // 
    // Menu-resto
    // 

    // headBar Menu + img
    .headBar_menu {
        height: 63px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 40px;
        background-color: white;
    }

    .headBar_menu a {
        color: black;
    }

    .headBar_menu img {
        width: 198px;
        height: 38px;
        padding-left: 30px;
    }


    .img_menu img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    // 
    // Les resto et leurs Menus  
    // 
    .Nom_resto {
        padding-right: 100px;
        margin-top: 10px;
    }

    .menu_list {
        display: flex;
        flex-direction: column;
        position: relative;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        background-color: var(--background-color);
        top: -40px;
        border-top-width: 2px;
        padding: 0px 20px 0px 20px;
        align-items: center;

    }


    .menu_resto {
        height: 270px;
        padding-bottom: 50px;
    }

    .menu_entree {
        height: 350px;
    }


    .menu_list h2 {
        font-family: 'Shrikhand', cursive;
    }

    .menu_list i {
        position: absolute;
    }

    // Position du coeur dans les menu resto
    .Heart-menu {
        position: absolute;
        left: 80%;
        top: 30px;
    }

    .menu_resto h3 {
        font-weight: 300;
        font-size: 16px;
        border-bottom: solid;
        // 
        // Petite barre verte en dessous du h3
        border-bottom-width: 2px;
        border-bottom-color: var(--lightgreen-color);
        width: 10%;
    }

    .menu_button {
        height: 72px;
        background-color: white;
        border-radius: 20px;
        border: 0px;
        width: 349px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
        overflow: hidden; //Pour cacher la box-check à l'extérieur du menu_button
        // cursor: pointer;
        margin-bottom: 12px;
        box-sizing: border-box;
        transition: 0.3s ease-in-out;

    }

    .menu-title {
        text-overflow: ellipsis; // pour afficher les ...  lorsque le texte est coupé
        overflow: hidden; // cacher ce qui dépasse
        white-space: nowrap; // Pour ne pas que le texte passe à la ligne
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: 5px;
        padding-top: 15px;
        font-size: 18px;
        font-weight: 500;
        transition: 1.6s ease-in-out;
    }

    .menu-description {
        text-overflow: ellipsis; // pour afficher les ...  lorsque le texte est coupé
        overflow: hidden; // cacher ce qui dépasse
        white-space: nowrap; // Pour ne pas que le texte passe à la ligne
        transition: 1.6s ease-in-out;
    }

    .menu-desc-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        transition: 1.6s ease-in-out;

    }



    // Badge validation vert

    .box-check {
        position: relative;
        left: 100%;
        top: -60px;
        width: 60px;
        height: 73px;
        font-size: 18px;
        color: var(--lightgreen-color);
        background-color: var(--lightgreen-color);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-width: 0px;
        margin-bottom: -60px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease-in-out;
    }

    // 
    // Les hover pour le menu_button
    // 
    .menu_button:hover {
        padding-right: 70px;
    }

    .menu_button:hover .box-check {
        transform: translateX(10px);
    }

    .euro {
        color: black;
        font-weight: 800;
        transition: transform 0.3s ease-in-out;
    }

    // Icone validation
    .fa-circle-check {
        background-color: var(--lightgreen-color);
        color: white;
    }

    // 
    // Le Loader
    // 

    /* Background pour le loader de la page d'acceuil + position + animation */
    .loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #353535;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        animation: loaderFadeOut 3s ease-in-out 1s forwards; // temps pour la disparition du loader
    }

    // Style pour le loader
    .loader::after {
        content: "";
        border: 4px solid #f3f3f3;
        border-top: 4px solid #9356DC;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite; // le temps pour le spin de faire un tour et la durée de l'animation
    }

    // animation pour que le loader tourne
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    // animation pour que le loader disparaisse
    @keyframes loaderFadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            visibility: hidden;
        }
    }

    // Loader pour les Menus
    .loaderMenu {
        position: relative;
        top: -267px;
        left: 0;
        width: 100%;
        height: 268px;
        background-color: #353535;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0px;
        opacity: 1;
        animation: loaderFadeOut 1s ease-in-out 1s forwards; // pour regler le temps pour que le loader disparaisse et la durée
    }

    .loaderMenu::after {
        content: "";
        border: 4px solid #f3f3f3;
        border-top: 4px solid #9356DC;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
        // pour regler le temps du tour du spin et pendant combien de temps il tourne
    }

    .Entree {
        animation: loaderFadeOut 1s ease-in-out 0.66s forwards;
        // pour regler le temps pour que le loader disparaisse et la durée
    }

    .Plats {
        animation: loaderFadeOut 1s ease-in-out 1.2s forwards;
        // pour regler le temps pour que le loader disparaisse et la durée
    }

    .Desserts {
        animation: loaderFadeOut 1s ease-in-out 1.6s forwards;
        // pour regler le temps pour que le loader disparaisse et la durée
    }

    // Pour le loader de la partie "ENtrée" "Note enchanté" 
    .NE {
        height: 350px;
        position: relative;
        top: -350px;
    }

    /****** Media queries ***********/
    /* Medium devices (tablets, between 768px and 1024px) */

    @media (min-width: 768px) and (max-width: 1024px) {

        .Restaurants {
            padding-left: 80px;
            padding-right: 80px;
            padding-bottom: 100px;
        }

        .Fonctionnement {
            padding-left: 60px;
            padding-right: 60px;
        }

        .headBar_menu {
            justify-content: center;
            padding-left: 0px;
        }

        .Bcolor {
            background-color: white;
            display: flex;
            justify-content: center;
        }

        .Nom_resto {
            padding-right: 0px;
        }

        .menu_list {
            width: 80%;
            align-items: center;
            padding-bottom: 50px;
        }

        .badge {
            left: 85%;
        }

        .Heart {
            left: 90%;
        }

        footer {
            // z-index: 33;
            position: relative;
            height: 114px;
            top: -40px;
        }

        .Bigfoot {
            text-align: center;
            padding-bottom: 55px;
        }

        .Littlefoot {
            text-align: center;
        }

        // 
        // Pages resto
        .menu_list {
            width: 80%;
        }

        .menu_button {
            // width: 100%;
            width: 634px;
        }

        .menu_entree {
            height: 350px;
        }

        .Heart-menu {
            left: 70%;
        }

    }

    /****** Media queries ***********/
    /* Large devices (Desktop, between 1024px and 1440px) */

    @media (min-width: 1025px) and (max-width: 1440px) {


        // Partie Explorer
        // Taille du titre
        .explorer-title {
            font-size: 40px;
        }

        // 
        // Fonctionnement Section
        .Fonctionnement {
            padding: 50px 180px 50px 180px;
        }

        .Fonctionnement h2 {
            margin-left: 0px;
        }

        .Fonctionnement li {
            width: 335px;
        }

        .fonction-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            padding-left: 0px;
            gap: 20px;


        }

        .btn-list {
            width: 322px;
        }


        // 
        // Restaurants Section


        .Restaurants {
            padding-left: 180px;
            padding-right: 180px;
            padding-bottom: 40px;

        }

        .Restaurants-cards {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 50px;
            padding-bottom: 50px;

        }

        .Restaurants-cards a {
            width: 100%;
            max-width: 490px;
        }

        .card {
            width: 100%;
            max-width: 490px;
            height: 251px;
        }

        .Restaurants h2 {
            margin-bottom: 25px;
        }

        .Heart {
            left: 85%;
            top: -80px;
        }

        .badge {
            left: 80%;
        }

        // 
        // Le Footer

        footer {
            // z-index: 33;
            position: relative;
            height: 114px;
            top: -40px;
        }

        .Bigfoot {
            height: 114px;
            display: flex;
            flex-direction: row-reverse;
            padding-bottom: 55px;
        }

        .Bigfoot h3 {
            height: 27px;
            position: relative;
            top: 60px;
            left: -40px;
        }

        .Littlefoot {
            gap: 7px;
            display: flex;
            height: 20px;
            position: relative;
            top: 80px;
            left: -100px;
        }

        .Littlefoot p,
        a {
            height: 20px;
        }

        // espace entre "Devenir partenaire et Mentions légales"
        .espacefooter {
            padding-right: 30px;
        }

        // 
        // Pages resto
        // 

        .menu_list {
            width: 75%;
            align-items: center;
            padding-bottom: 35px;
            z-index: 9;
        }

        .Bcolor {
            background-color: white;
            display: flex;
            justify-content: center;
        }

        .Nom_resto {
            padding-right: 0px;
        }


        .headBar_menu {
            justify-content: center;
            padding-left: 0px;
        }

        .headBar_menu a {
            position: relative;
            left: -38%;
        }

        .menu_resto {
            width: 634px;
        }

        .menu_entree {
            height: 350px;
        }

        .menu_button {
            width: 100%;
            max-width: 634px;
        }

        .Heart-menu {
            left: 63%;
        }

    }


}