@charset "UTF-8";
:root {
  /* Colors */
  --primary-color: #9356DC;
  --secondary-color: #FF79DA;
  --lightgreen-color: #99E2D0;
  --darkergreen-color: #008766;
  --background-color: #F6F6F6;
  --gradient-color: linear-gradient(to top, var(--primary-color), var(--secondary-color));
  --footer-color: #353535;
}

* {
  font-family: "Roboto";
}

h1 {
  font-family: "Shrikhand", cursive;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 2px;
  margin-top: 0px;
  height: 63px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

p {
  /* couleur pour les textes */
  color: #353535;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

.main-container {
  width: 100%;
  box-sizing: border-box;
  /* Firefox compatibilité */
  /* SOurce : https://stackoverflow.com/questions/19621306/css-placeholder-text-color-on-firefox */
  /* Bouton Explorer */
  /* Fonctionnement */
  /* Background pour le loader de la page d'acceuil + position + animation */
  /****** Media queries ***********/
  /* Medium devices and large (tablets, between 500px and 1439px) */
  /****** Media queries ***********/
  /*  Extra Large devices (Desktop, between 1440px and 2160px) */
}
.main-container .localisation-bar {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
}
.main-container .localisation-bar i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353535;
}
.main-container .localisation-bar input {
  border-width: 0px;
}
.main-container input::-moz-placeholder {
  background-color: #EAEAEA;
  font-size: 16px;
  color: #353535;
  text-align: center;
}
.main-container input::placeholder {
  background-color: #EAEAEA;
  font-size: 16px;
  color: #353535;
  text-align: center;
}
.main-container :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: black;
  opacity: 1;
}
.main-container ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: black;
  opacity: 1;
}
.main-container .Titreshadow {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}
.main-container .explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.main-container .explorer h2 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 50px;
}
.main-container .explorer p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  margin-bottom: 30px;
}
.main-container .btn {
  background: var(--gradient-color);
  text-align: center;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  height: 50px;
  width: 218px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  border: 0px;
}
.main-container .btn:hover {
  filter: brightness(115%);
}
.main-container .btncom {
  margin-top: 20px;
}
.main-container .Fonctionnement {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 30px;
}
.main-container .Fonctionnement h2 {
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 40px;
}
.main-container .Fonctionnement ul {
  list-style-type: none;
}
.main-container ul {
  padding-left: 10px;
  margin-right: 20px;
}
.main-container li {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}
.main-container .nb-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  /* Utiliser un border-radius de 50% pour créer un cercle */
  padding: 1px;
  /* Espace à l'intérieur de la bordure */
  height: 24px;
  width: 24px;
  position: relative;
  left: 10px;
}
.main-container .btn-list {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 0px;
  width: 100%;
  max-width: 323px;
  height: 72px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 500;
}
.main-container .btn-list p {
  font-size: 16px;
  font-weight: 700;
}
.main-container .btn-list i {
  padding: 0px 25px 0px 25px;
  color: #7e7e7e;
}
.main-container .btn-list .fa-store {
  color: var(--primary-color);
}
.main-container .Restaurants {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  overflow: hidden;
}
.main-container .Restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-container .Restaurants h2 {
  margin-bottom: 20px;
  padding-top: 30px;
}
.main-container .Restaurants-cards a {
  width: 100%;
  height: 251px;
}
.main-container .card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  max-width: 490px;
  padding: 0px;
  height: 251px;
}
.main-container .card img {
  -o-object-fit: cover;
     object-fit: cover;
}
.main-container .card-title {
  font-size: 18px;
}
.main-container .Restaurants-cards img {
  width: 100%;
  height: 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.main-container .Restaurants-cards .card-content {
  width: 100%;
  height: 30%;
  box-sizing: border-box;
}
.main-container .card-content h3 {
  color: black;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.main-container .card-txt p {
  margin-top: 0px;
  margin-left: 5px;
}
.main-container .card-txt {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.main-container .Heart {
  position: relative;
  left: 80%;
  top: -70px;
}
.main-container .Heart i {
  position: absolute;
}
.main-container .my-heart-empty {
  color: black;
}
.main-container .my-heart-full {
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(to top, var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
          background-clip: text;
  --webkit-background-clip: text;
  transition-duration: 300ms;
}
.main-container .my-heart-full:hover {
  opacity: 1;
}
.main-container .badge {
  width: 80px;
  height: 29px;
  font-size: 16px;
  color: var(--darkergreen-color);
  background-color: var(--lightgreen-color);
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  top: -65%;
  left: 75%;
  padding: 5px;
  overflow: hidden;
}
.main-container .sans-Badge {
  margin-top: 15px;
}
.main-container .Bigfoot {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 188px;
  background-color: var(--footer-color);
}
.main-container .Littlefoot p {
  font-size: 18px;
  color: white;
  margin-bottom: 8px;
  margin-top: 0px;
}
.main-container .Bigfoot h3 {
  color: white;
  font-family: "Shrikhand", cursive;
}
.main-container .Littlefoot i {
  margin-right: 10px;
}
.main-container .headBar_menu {
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40px;
  background-color: white;
}
.main-container .headBar_menu a {
  color: black;
}
.main-container .headBar_menu img {
  width: 198px;
  height: 38px;
  padding-left: 30px;
}
.main-container .img_menu img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-container .Nom_resto {
  padding-right: 100px;
  margin-top: 10px;
}
.main-container .menu_list {
  display: flex;
  flex-direction: column;
  position: relative;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  background-color: var(--background-color);
  top: -40px;
  border-top-width: 2px;
  padding: 0px 20px 0px 20px;
  align-items: center;
}
.main-container .menu_resto {
  height: 270px;
  padding-bottom: 50px;
}
.main-container .menu_entree {
  height: 350px;
}
.main-container .menu_list h2 {
  font-family: "Shrikhand", cursive;
}
.main-container .menu_list i {
  position: absolute;
}
.main-container .Heart-menu {
  position: absolute;
  margin-left: 260px;
  top: 30px;
}
.main-container .menu_resto h3 {
  font-weight: 300;
  font-size: 16px;
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--lightgreen-color);
  width: 10%;
}
.main-container .menu_button {
  height: 72px;
  background-color: white;
  border-radius: 20px;
  border: 0px;
  width: 349px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 12px;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}
.main-container .menu-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 15px;
  font-size: 18px;
  font-weight: 800;
  transition: 1.6s ease-in-out;
}
.main-container .menu-description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: 1.6s ease-in-out;
  font-size: 15px;
  font-weight: 300;
}
.main-container .menu-desc-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  transition: 1.6s ease-in-out;
}
.main-container .box-check {
  position: relative;
  left: 100%;
  top: -60px;
  width: 60px;
  height: 73px;
  font-size: 18px;
  color: var(--lightgreen-color);
  background-color: var(--lightgreen-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-width: 0px;
  margin-bottom: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}
.main-container .menu_button:hover {
  padding-right: 70px;
}
.main-container .menu_button:hover .box-check {
  transform: translateX(10px);
}
.main-container .euro {
  color: black;
  font-weight: 800;
  transition: transform 0.3s ease-in-out;
}
.main-container .fa-circle-check {
  background-color: var(--lightgreen-color);
  color: white;
}
.main-container .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loaderFadeOut 3s ease-in-out 1s forwards;
}
.main-container .loader::after {
  content: "";
  border: 4px solid #f3f3f3;
  border-top: 4px solid #9356DC;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loaderFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.main-container .loaderMenu {
  position: relative;
  top: -267px;
  left: 0;
  width: 100%;
  height: 268px;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  opacity: 1;
  animation: loaderFadeOut 1s ease-in-out 1s forwards;
}
.main-container .loaderMenu::after {
  content: "";
  border: 4px solid #f3f3f3;
  border-top: 4px solid #9356DC;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
.main-container .Entree {
  animation: loaderFadeOut 1s ease-in-out 0.66s forwards;
}
.main-container .Plats {
  animation: loaderFadeOut 1s ease-in-out 1.2s forwards;
}
.main-container .Desserts {
  animation: loaderFadeOut 1s ease-in-out 1.6s forwards;
}
.main-container .NE {
  height: 350px;
  position: relative;
  top: -350px;
}
@media (min-width: 500px) and (max-width: 1439px) {
  .main-container .Fonctionnement {
    align-items: center;
  }
  .main-container .headBar_menu {
    justify-content: center;
    padding-left: 0px;
  }
  .main-container .Bcolor {
    background-color: white;
    display: flex;
    justify-content: center;
  }
  .main-container .Restaurants {
    align-items: center;
    padding-bottom: 50px;
    overflow: hidden;
  }
  .main-container .Restaurants .card {
    max-width: 490px;
    width: 490px;
  }
  .main-container .Nom_resto {
    padding-right: 0px;
  }
  .main-container .menu_list {
    width: 80%;
    align-items: center;
    padding-bottom: 50px;
  }
  .main-container .btn-list {
    width: 323px;
  }
  .main-container .footer-pos-menu {
    position: relative;
    height: 114px;
    top: -40px;
  }
  .main-container .Bigfoot {
    text-align: center;
  }
  .main-container .Littlefoot {
    text-align: center;
  }
  .main-container .menu_list {
    width: 80%;
  }
  .main-container .menu_entree {
    height: 350px;
  }
}
@media (min-width: 1440px) and (max-width: 2160px) {
  .main-container .explorer-title {
    font-size: 40px;
  }
  .main-container .Fonctionnement {
    padding: 50px 180px 50px 180px;
    align-items: center;
  }
  .main-container .Fonctionnement h2 {
    margin-right: 950px;
  }
  .main-container .btn-list {
    width: 322px;
  }
  .main-container .fonction-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .main-container .btn-list {
    width: 322px;
  }
  .main-container .Restaurants {
    align-items: center;
    overflow: hidden;
  }
  .main-container .Restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 20px;
    max-width: 1100px;
  }
  .main-container .Restaurants-cards a {
    width: 100%;
    max-width: 490px;
  }
  .main-container .card {
    width: 100%;
    max-width: 490px;
    height: 251px;
  }
  .main-container .Restaurants h2 {
    margin-bottom: 25px;
    margin-right: 970px;
  }
  .main-container .Heart {
    left: 85%;
    top: -80px;
  }
  .main-container .badge {
    left: 80%;
  }
  .main-container .footer-pos-menu {
    position: relative;
    height: 114px;
    top: -40px;
  }
  .main-container .Bigfoot {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
  }
  .main-container .Bigfoot h3 {
    height: 27px;
    position: relative;
    top: 60px;
    left: -40px;
  }
  .main-container .Littlefoot {
    gap: 7px;
    display: flex;
    height: 20px;
    position: relative;
    top: 80px;
    left: -100px;
  }
  .main-container .Littlefoot p,
  .main-container a {
    height: 20px;
  }
  .main-container .espacefooter {
    padding-right: 30px;
  }
  .main-container .menu_list {
    width: 75%;
    align-items: center;
    padding-bottom: 35px;
    z-index: 9;
    overflow: hidden;
  }
  .main-container .Bcolor {
    background-color: white;
    display: flex;
    justify-content: center;
  }
  .main-container .Nom_resto {
    padding-right: 0px;
  }
  .main-container .headBar_menu {
    justify-content: center;
    padding-left: 0px;
  }
  .main-container .headBar_menu a {
    position: relative;
    left: -38%;
  }
  .main-container .menu_resto {
    width: 634px;
  }
  .main-container .menu_entree {
    height: 350px;
  }
  .main-container .menu_button {
    width: 100%;
    max-width: 634px;
  }
}/*# sourceMappingURL=style.css.map */